.mainContent{
    margin-bottom: 1.5rem;
    width: 100%;
    header{
        @include flex-align(center);
        ul{
            @include flex-align(center);
            padding: 0.5rem 0;
            li{
                margin: 0 0.2rem;
                padding: 0.3rem 0.6rem;
                @include bd-radius(5px);
            
                a{
                    font-size: 1.2rem;
                    font-weight: 400;
                    &:hover{
                        font-weight: 500;

                    }
                }
                &:first-child{
                    margin: 0;
                }
                &:hover{
                    @include bg-color($main-a);
                    color: $light-blue;   
                }
            }
        }

    }
}