
    .menu{
        ul>li{     
            line-height: 1.6;       
            a{
                padding: 0.5rem;
                @include flex-align(center);
                @include bd-radius(5px);
                font-weight: 400;

                &:hover{
                    @include bg-color($main-a);
                    color: $light-blue;
                }

                i{  display: flex;
                    padding-right: 0.5rem;
                }
            }
        }
        h3{
            font-weight: 500;
            margin: 1rem 1.2rem;
        }

    }
    .socialLinks{
        @include flex-align(center);
        padding: 1rem 0;
        padding-bottom: 0.5rem;
        
        a{  
            @include flex-align(center);
            font-size: 1.5rem;
            margin: 0 auto;
            @include bd-radius(5px);
            @include bg-color($hover-color);
            i{  
                padding: 0.3rem;
                @include flex-align(center);
            }
            &:hover{
                @include bg-color($main-a);
                color: $light-blue;
            }
        }
    }
    .tagList{
        margin-bottom: 1.5rem;
        >.titleContainer{
            @include flex(center, space-between);
            padding: 0.5rem;
            padding-right: 0;

            i{
                display: flex;
                padding: 0.5rem;
                @include bg-color($main-a);
                @include bd-radius(5px);

                &:hover{
                    @include bg-color(#e4d7d7);
                    cursor: pointer;
                }
            }
        }
        ul{
            height: 40vh;
            overflow-y: auto;
            line-height: 1.6;

            li{
                padding: 0.5rem;
                cursor: pointer;
                @include bd-radius(5px);

                &:hover{
                    @include bg-color($main-a);
                    color: $light-blue;
                }
        }
    }
}

.hamburger{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    .headerContent{
        background-color: #fff;
        max-width: 280px;
        width: 90%;
        height: 100%;
        overflow-y: auto;
    }


    header{
        @include flex(center,space-between);
        padding: 1rem;
        padding-bottom: 0.8rem;
        border-bottom: 1px solid $main-3;

        button{
            @include flex-align(center);
            font-size: 1.5rem;
            padding: 5px;
            @include bd-radius(5px);
            &:hover{
                @include bg-color($hover-color);
                color: $light-blue;
            }
        }
    }
    .headerItems{
        padding: 0.5rem;
    }
}